

<div class="borde-contenedor">
  <div class="encabezado">
    <h1>COMENTARIO</h1>
    <div class="salir">
      <a href="/home/aprobar/comentar">
      <img src="../../../../assets/pictures/eliminar X.png" alt="x"></a>
    </div>
  </div>

  <div class="cajas">
  <div class="caja1">

    <div class="cont">
    <div class="imagen">
    <img src="../../../../assets/pictures/Vector.png" alt="subir archivo">
  </div>
    <div class="eliminar">
    <img src="../../../../assets/pictures/eliminar X.png" alt="x">
  </div>
</div>

<div class="botones">

<button class="boton1">ADJUNTAR</button>
<button class="boton2">VER</button>
<button class="boton3">DESCARGAR</button>

  </div>
</div>

  <div class="caja2">
    <textarea class="descripcion">
      
    </textarea>
  </div>

</div>
<a href="/home/aprobar/comentar">
<button class="guardar">GUARDAR</button></a>

</div>

