<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Squada+One&display=swap"
    rel="stylesheet">

<div class="borde-contenedor">
  <div class="encabezado">
    <h1>COMENTARIO</h1>
    <div class="salir">
      <a href="/home/aprobar/comentar/:id">
      <img src="../../../../assets/pictures/eliminar X.png" alt="x"></a>
    </div>
  </div>

  <div class="cajas">
  <div class="caja1">

    <div class="cont">
    <div class="imagen">
    <img src="../../../../assets/pictures/Vector.png" alt="subir archivo">
  </div>
  
    <div class="eliminar">
    <img src="../../../../assets/pictures/eliminar X.png" alt="x">
  </div>
</div>

<div class="botones">

<button class="boton1">ADJUNTAR</button>
<button class="boton2">VER</button>
<button class="boton3">DESCARGAR</button>

  </div>

</div>

  <div class="caja2">
    <textarea class="descripcion">
      
    </textarea>
  </div>

</div>
<a href="/home/aprobar/comentar">
<button class="guardar">GUARDAR</button></a>

</div>

