<div class="contenedor">
    <div class="borde">
        <div class="encabezado">
            <a href="/home/aprobar">
            <img src="/assets/pictures/regresar.png" class="regresar"></a>
            <h1 class="titulo">Reporte de Proyectos</h1>

        </div>
        <div class="filtros-container">
            <div class="filtro">
                <label class="texto_buscar">Tipo de proyecto:</label>
                <select class="buscar">
                    <option>Selecciona</option>
                    <option>Tipo01</option>
                    <option>Tipo02</option>
                    <option>Tipo03</option>
                </select>
                <label class="texto_buscar">Carrera:</label>
                <select class="buscar">
                    <option>Selecciona</option>
                    <option>Modalidad01</option>
                    <option>Modalidad02</option>
                    <option>Modalidad03</option>
                </select>
                <label class="texto_buscar">Semestre:</label>
                <select class="buscar">
                    <option>Selecciona</option>
                    <option>Ingenieria de Sistemas</option>
                    <option>Ingenieria Ambiental</option>
                    <option>Arquitectura</option>
                </select>
                <label class="texto_buscar">Ciclo:</label>
                <select class="buscar">
                    <option>Nro</option>
                    <option>40235</option>
                    <option>20223</option>
                    <option>23564</option>
                </select>
            </div>
        </div>
        
        <table class="tabla">
            <thead>
                <th class="id">N°</th>
                <th class="proyecto">Proyecto</th>
                <th class="participantes_estudiantes">Participantes Estudiantes</th>
                <th class="participantes_satisfaccion">Participantes Satisfaccion</th>
                <th class="participantes_docentes">Participantes Docente</th>
                <th class="cantidad_beneficiarios">Cantidad de beneficiarios   </th>
                <th class="satifaccion_beneficiario">Satisfaccion Beneficiario</th>
                <th colspan="3" class="accion">Acción</th>
            </thead>

            <tbody>
                <tr th:each="reporte-proyecto">
                    <td th:text="id">01</td>
                    <td th:text="proyecto">proyecto01</td>
                    <td th:text="participantes_estudiantes">30</td>
                    <td th:text="participantes_satisfaccion">30</td>
                    <td th:text="participantes_docentes">5</td>
                    <td th:text="cantidad_beneficiarios">25</td>
                    <td th:text="satifaccion_beneficiario">25</td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista"><img src="../assets/pictures/descargar.png" width="25px"></span>
                    </td>
                </tr>

                <tr th:each="reporte-proyecto">
                    <td th:text="id">02</td>
                    <td th:text="proyecto">proyecto02</td>
                    <td th:text="participantes_estudiantes">30</td>
                    <td th:text="participantes_satisfaccion">30</td>
                    <td th:text="participantes_docentes">5</td>
                    <td th:text="cantidad_beneficiarios">25</td>
                    <td th:text="satifaccion_beneficiario">25</td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista"><img src="../assets/pictures/descargar.png" width="25px"></span>
                    </td>
                </tr>

                <tr th:each="reporte-proyecto">
                    <td th:text="id">03</td>
                    <td th:text="proyecto">proyecto03</td>
                    <td th:text="participantes_estudiantes">30</td>
                    <td th:text="participantes_satisfaccion">30</td>
                    <td th:text="participantes_docentes">5</td>
                    <td th:text="cantidad_beneficiarios">25</td>
                    <td th:text="satifaccion_beneficiario">25</td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista"><img src="../assets/pictures/descargar.png" width="25px"></span>
                    </td>
                </tr>

                <tr th:each="reporte-proyecto">
                    <td th:text="id">04</td>
                    <td th:text="proyecto">proyecto04</td>
                    <td th:text="participantes_estudiantes">30</td>
                    <td th:text="participantes_satisfaccion">30</td>
                    <td th:text="participantes_docentes">5</td>
                    <td th:text="cantidad_beneficiarios">25</td>
                    <td th:text="satifaccion_beneficiario">25</td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista"><img src="../assets/pictures/descargar.png" width="25px"></span>
                    </td>
                </tr>

                <tr th:each="reporte-proyecto">
                    <td th:text="id">05</td>
                    <td th:text="proyecto">proyecto05</td>
                    <td th:text="participantes_estudiantes">30</td>
                    <td th:text="participantes_satisfaccion">30</td>
                    <td th:text="participantes_docentes">5</td>
                    <td th:text="cantidad_beneficiarios">25</td>
                    <td th:text="satifaccion_beneficiario">25</td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista"><img src="../assets/pictures/descargar.png" width="25px"></span>
                    </td>
                </tr>

                <tr th:each="reporte-proyecto">
                    <td th:text="id">06</td>
                    <td th:text="proyecto">proyecto06</td>
                    <td th:text="participantes_estudiantes">30</td>
                    <td th:text="participantes_satisfaccion">30</td>
                    <td th:text="participantes_docentes">5</td>
                    <td th:text="cantidad_beneficiarios">25</td>
                    <td th:text="satifaccion_beneficiario">25</td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista"><img src="../assets/pictures/descargar.png" width="25px"></span>
                    </td>
                </tr>

                <tr th:each="reporte-proyecto">
                    <td th:text="id">07</td>
                    <td th:text="proyecto">proyecto07</td>
                    <td th:text="participantes_estudiantes">30</td>
                    <td th:text="participantes_satisfaccion">30</td>
                    <td th:text="participantes_docentes">5</td>
                    <td th:text="cantidad_beneficiarios">25</td>
                    <td th:text="satifaccion_beneficiario">25</td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista"><img src="../assets/pictures/descargar.png" width="25px"></span>
                    </td>
                </tr>

            </tbody>


            </table>
    </div>
</div>