<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Squada+One&display=swap"
    rel="stylesheet">
    
<div class="contenedor">
    <div class="borde">
        <div class="encabezado">
            <a href="/home/aprobar">
            <img src="/assets/pictures/regresar.png" class="regresar"></a>
            <h1 class="titulo">Aprobación del Proyecto</h1>

        </div>
        <div class="container_tabla">
        <table class="tabla">
            <thead>
                <th class="id">N°</th>
                <th class="nombre_afiliacion">Nombre de autoridad</th>
                <th class="tipo_afiliacion">Fecha</th>
                <th class="fecha_inicio">Comentario</th>
                <th class="estado">Estado</th>
            </thead>
            <tbody>
                <tr *ngFor="let aprobacion of Aprobacion">
                    <td>{{aprobacion.id}}</td>
                    <td>{{aprobacion.autoridad?.persona?.nombre}}</td>
                    <td>{{aprobacion.fecha}}</td>
                    <th class="comentario"><button mat-raised-button color="primary" (click)="openDialog()" class="coment">comentario</button></th>
                    <td class="estado"><img class="estadoimg" src="../assets/pictures/validadofond.png"></td>
                </tr>
            </tbody>
            
            </table>
        </div>
            
            <div class="atributos-container">
             <div class="formulario">
                <form>
                    <label class="text1">N° Acuerdo:</label>
                    <input class="form1">
                    <label class="text2">Estado:</label>
                    <input class="form2">
                </form>

            </div>
            </div>
    </div>
</div>