<div class="contenedor">
    <div class="borde">
        <div class="encabezado">
            <a href="/menu">
            <img src="/assets/pictures/regresar.png" class="regresar"></a>
            <h1 class="titulo">Aprobar - Proyecto</h1>

        </div>
        <div class="filtros-container">
            <div class="filtro">
                <label class="texto_buscar">Tipo de proyecto:</label>
                <select class="buscar">
                    <option>Selecciona</option>
                    <option>Tipo01</option>
                    <option>Tipo02</option>
                    <option>Tipo03</option>
                </select>
                <label class="texto_buscar">Modalidad:</label>
                <select class="buscar">
                    <option>Selecciona</option>
                    <option>Modalidad01</option>
                    <option>Modalidad02</option>
                    <option>Modalidad03</option>
                </select>
                <label class="texto_buscar">Carrera:</label>
                <select class="buscar">
                    <option>Selecciona</option>
                    <option>Ingenieria de Sistemas</option>
                    <option>Ingenieria Ambiental</option>
                    <option>Arquitectura</option>
                </select>
                <label class="texto_buscar">Nro de Acuerdo</label>
                <select class="buscar">
                    <option>Nro</option>
                    <option>40235</option>
                    <option>20223</option>
                    <option>23564</option>
                </select>
            </div>
        </div>
        
        <table class="tabla">
            <thead>
                <th class="id">N°</th>
                <th class="nombre_afiliacion">Nombre de afiliación</th>
                <th class="tipo_proyecto">Tipo de proyecto</th>
                <th class="nro_acuerdo">Nro de acuerdo</th>
                <th class="estado">Estado</th>
                <th class="accion">Acción</th>
            </thead>
            <tbody>
                <tr th:each="contenido">
                    <td th:text="id">01</td>
                    <td th:text="nombre_afiliacion">Afiliacion01</td>
                    <td th:text="tipo_proyecto">ProyectoTipo01</td>
                    <td th:text="nro_acuerdo">20231015</td>
                    <td th:text="estado"><img class="estadoimg" src="../assets/pictures/Enproceso.png"></td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista" class="material-symbols-outlined" >visibility</span>
                        <span routerLink="/home/aprobar/comentar" class="material-symbols-outlined" >chat</span>
                    </td>
                </tr>

                <tr th:each="contenido">
                    <td th:text="id">02</td>
                    <td th:text="nombre_afiliacion">Afiliacion02</td>
                    <td th:text="tipo_proyecto">ProyectoTipo02</td>
                    <td th:text="nro_acuerdo">20231542</td>
                    <td th:text="estado"><img class="estadoimg" src="../assets/pictures/validadofond.png"></td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista" class="material-symbols-outlined" >visibility</span>
                        <span routerLink="/home/aprobar/comentar" class="material-symbols-outlined" >chat</span>
                    </td>
                </tr>

                <tr th:each="contenido">
                    <td th:text="id">03</td>
                    <td th:text="nombre_afiliacion">Afiliacion03</td>
                    <td th:text="tipo_proyecto">ProyectoTipo03</td>
                    <td th:text="nro_acuerdo">20237854</td>
                    <td th:text="estado"><img class="estadoimg" src="../assets/pictures/validadofond.png"></td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista" class="material-symbols-outlined" >visibility</span>
                        <span routerLink="/home/aprobar/comentar" class="material-symbols-outlined" >chat</span>
                    </td>
                </tr>

                <tr th:each="contenido">
                    <td th:text="id">04</td>
                    <td th:text="nombre_afiliacion">Afiliacion04</td>
                    <td th:text="tipo_proyecto">ProyectoTipo04</td>
                    <td th:text="nro_acuerdo">20239562</td>
                    <td th:text="estado"><img class="estadoimg" src="../assets/pictures/validadofond.png"></td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista" class="material-symbols-outlined" >visibility</span>
                        <span routerLink="/home/aprobar/comentar" class="material-symbols-outlined" >chat</span>
                    </td>
                </tr>

                <tr th:each="contenido">
                    <td th:text="id">05</td>
                    <td th:text="nombre_afiliacion">Afiliacion05</td>
                    <td th:text="tipo_proyecto">ProyectoTipo05</td>
                    <td th:text="nro_acuerdo">20233625</td>
                    <td th:text="estado"><img class="estadoimg" src="../assets/pictures/validadofond.png"></td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista" class="material-symbols-outlined" >visibility</span>
                        <span routerLink="/home/aprobar/comentar" class="material-symbols-outlined" >chat</span>
                    </td>
                </tr>

                <tr th:each="contenido">
                    <td th:text="id">06</td>
                    <td th:text="nombre_afiliacion">Afiliacion06</td>
                    <td th:text="tipo_proyecto">ProyectoTipo06</td>
                    <td th:text="nro_acuerdo">20235642</td>
                    <td th:text="estado"><img class="estadoimg" src="../assets/pictures/validadofond.png"></td>
                    <td class="accion">
                        <span routerLink="/home/aprobar/vista" class="material-symbols-outlined" >visibility</span>
                        <span routerLink="/home/aprobar/comentar" class="material-symbols-outlined" >chat</span>
                    </td>
                </tr>
            </tbody>
            </table>
    </div>
</div>