<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Squada+One&display=swap"
    rel="stylesheet">

<div class="contenedor">
    <div class="borde">
        <div class="encabezado">
            <a href="/menu">
            <img src="/assets/pictures/regresar.png" class="regresar"></a>
            <h1 class="titulo">Aprobar - Proyecto</h1>

        </div>
        <div class="filtros-container">
            <div class="filtro">
                <label class="texto_buscar">Tipo de proyecto:</label>
                <select class="buscar">
                    <option>Selecciona</option>
                    <option>Tipo01</option>
                    <option>Tipo02</option>
                    <option>Tipo03</option>
                </select>
                <label class="texto_buscar">Modalidad:</label>
                <select class="buscar">
                    <option>Selecciona</option>
                    <option>Modalidad01</option>
                    <option>Modalidad02</option>
                    <option>Modalidad03</option>
                </select>
                <label class="texto_buscar">Carrera:</label>
                <select class="buscar">
                    <option>Selecciona</option>
                    <option>Ingenieria de Sistemas</option>
                    <option>Ingenieria Ambiental</option>
                    <option>Arquitectura</option>
                </select>
                <label class="texto_buscar">Nro de Acuerdo</label>
                <select class="buscar">
                    <option>Nro</option>
                    <option>40235</option>
                    <option>20223</option>
                    <option>23564</option>
                </select>
            </div>
        </div>
        
        <table class="tabla">
            <thead>
                <th class="id">N°</th>
                <th class="nombre_afiliacion">Nombre de afiliación</th>
                <th class="tipo_proyecto">Tipo de proyecto</th>
                <th class="nro_acuerdo">Nro de acuerdo</th>
                <th class="estado">Estado</th>
                <th class="accion">Acción</th>
            </thead>

            <tbody>
                <tr *ngFor="let proyecto of proyecto">
                    <td>{{proyecto.id}}</td>
                    <td>{{proyecto.nombre_proyecto}}</td>
                    <td>{{proyecto.tip_proyec?.nombre_tipro}}</td>
                    <td>{{proyecto.nacuerdo}}</td>
                    <td><img class="estadoimg" src="../assets/pictures/validadofond.png"></td>
                    <td class="accion">
                        <span class="material-symbols-outlined" >visibility</span>
                        <span [routerLink]="['/home/aprobar/comentar', proyecto.id]" class="material-symbols-outlined" >chat</span>
                    </td>
                </tr>

            </tbody>
            </table>
    </div>
</div>